@model IEnumerable<taskjo.Models.TeamMembers>

@{
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.team.teamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.memberRole)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationUser.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.team.teamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.memberRole)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.teamMemberId }) |
                @Html.ActionLink("Details", "Details", new { id=item.teamMemberId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.teamMemberId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
