@model IEnumerable<taskjo.Models.Phase>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.phaseTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phaseState)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.phaseTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phaseState)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.phaseId }) |
            @Html.ActionLink("نمایش زیر وظایف", "Details", new { id=item.phaseId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.phaseId })
        </td>
    </tr>
}

</table>
