@model taskjo.Models.Tasks

@{
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Tasks</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.phase.phaseTitle)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.phase.phaseTitle)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.taskName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.taskName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.taskDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.taskDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.taskState)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.taskState)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.taskId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
