@{ 
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    <!-- Info boxes -->
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box">
                                <span class="info-box-icon bg-primary elevation-1"><i class="fa fa-users"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">تیم ها</span>
                                    <span class="info-box-number">
                                        @ViewBag.teamCount
                                    </span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-light elevation-1"><i class="fa fa-edit"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">پروژه ‌ها</span>
                                    <span class="info-box-number">@ViewBag.projectCount</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <!-- fix for small devices only -->
                        <div class="clearfix hidden-md-up"></div>

                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-success elevation-1"><i class="fa fa-chevron-circle-up"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">تسک ها</span>
                                    <span class="info-box-number">@ViewBag.taskCount</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                        <div class="col-12 col-sm-6 col-md-3">
                            <div class="info-box mb-3">
                                <span class="info-box-icon bg-info elevation-1"><i class="fa fa-users"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text"> دوستان</span>
                                    <span class="info-box-number">@ViewBag.friendCount</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                            <!-- /.info-box -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

          
                   
                    <!-- Main row -->
                    <div class="row">
                        <!-- Left col -->
                       
                        <!-- /.col -->

                        <div class="col-md-12">
                            

                          
                            <!-- /.card -->
                            <!-- PRODUCT LIST -->
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">تیم های شما</h3>

                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool" data-widget="collapse">
                                            <i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-tool" data-widget="remove">
                                            <i class="fa fa-times"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-body p-0">
                                    <ul class="products-list product-list-in-card pl-2 pr-2">
                                        @foreach (var item in ViewBag.data)
                                        {
                                        <li class="item">
                                            
                                            <div class="product-info">
                                                <a href='@Url.Action("Getprogect", "UserDashboard", new { id = @item.teamId })' class="product-title">
                                                    @item.teamName

                                                </a>
                                                
                                            </div>
                                        </li>

                                        <!-- /.item -->
                                        }
                                    </ul>
                                </div>
                                <!-- /.card-body -->
                                <div class="card-footer text-center">
                                    <a href="javascript:void(0)" class="uppercase">نمایش همه محصولات</a>
                                </div>
                                <!-- /.card-footer -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div><!--/. container-fluid -->
            </section>
            <!-- /.content -->
</div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <!-- To the right -->
            <div class="float-right d-sm-none d-md-block">
                Anything you want
            </div>
            <!-- Default to the left -->
            <strong>CopyLeft &copy; 2018 <a href="http://github.com/hesammousavi/">حسام موسوی</a>.</strong>
        </footer>



