@model IEnumerable<taskjo.Models.Team>

@{
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.teamName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teamDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teamStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.teamLogo)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.teamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teamDesc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teamStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.teamLogo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.teamId }) |
                @Html.ActionLink("Details", "Details", new { id=item.teamId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.teamId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
