@model taskjo.Models.Project

@{
    Layout = "~/Views/Shared/DefaultLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Project</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.teams.teamName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.teams.teamName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.projectName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.projectName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.projectDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.projectDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.projectdate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.projectdate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.projectSate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.projectSate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.projectDocFile)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.projectDocFile)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.projectId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
