@model taskjo.Models.Team

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.teamAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teamAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teamName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teamDesc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teamDesc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teamStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teamStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.teamLogo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.teamLogo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.enChar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.enChar)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
