@model taskjo.Models.TeamMembers

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TeamMembers</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user.userName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.userName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.memberRule)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.memberRule)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.teamMemberId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
