@model IEnumerable<taskjo.Models.Tasks>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.taskName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taskDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.taskState)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.taskName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taskDesc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.taskState)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.taskId }) |
            @Html.ActionLink("Details", "Details", new { id=item.taskId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.taskId })
        </td>
    </tr>
}

</table>
