@model IEnumerable<taskjo.Models.Tasks>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/ManagerDeafult.cshtml";
    Layout = "~/Views/Shared/ManagerDeafult.cshtml";

}
<html>
<h2 style="text-align:right;margin-right: 250px;">وظایف</h2>

@*<link href="~/Content/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme-rtl.min.css" rel="stylesheet" />*@
<link href="~/Content/bootstrap-4.4.1.css" rel="stylesheet" />
<p>
    @*@Html.ActionLink("ایجاد وظیفه", "Create")*@
    <a href="@Url.Action("Create") " class="btn btn-success">ایجاد وظیفه</a>
</p>



@*@Html.ActionLink("ویرایش", "Edit", new { id = item.taskId }) |
@Html.ActionLink("جزئیات", "Details", new { id = item.taskId }) |
@Html.ActionLink("حذف", "Delete", new { id = item.taskId }) |
@Html.ActionLink("زیر وظایف", "Delete", new { id = item.taskId })*@

@foreach (var item in Model)
{

    <div class="col-md-4 pb-1 pb-md-0">
        <div class="card">
            <img class="card-img-top" src="~/ImgLogo/tasktemp.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.taskName</h5>
                <p class="card-text">@item.taskDesc</p>
                <a href="@Url.Action("Details", new { id = item.taskId }) " class="btn btn-primary">جزئیات</a>
                <a href="@Url.Action("Delete", new { id = item.taskId })" class="btn btn-danger">حذف</a>
                <a href="@Url.Action("Edit", new { id = item.taskId })" class="btn btn-warning">ویرایش</a>

            </div>
        </div>
    </div>
}
</html>