@model taskjo.Models.Team

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Team</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.teamName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.teamName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.teamDesc)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.teamDesc)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.teamStartDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.teamStartDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.teamLogo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.teamLogo)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.teamId }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
