@model taskjo.Models.Project

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.group.groupName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.group.groupName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectAdmin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectAdmin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.projectName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.projectName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.projectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
